@import '../../page/variable.scss';
footer{
    background-color: #0C081A;
    padding: 80px;
    .footer{
        background-color: #FFFFFF14;
        border-radius: 40px;
        .footer__item{
            padding: 60px;
        }
    }
}
.footer__item{
    // @include center-div();
    display: flex;
     @include center-div();
     justify-content: space-between;
    .footyer__links{
        display: flex;
    align-items: start;
    justify-content: start;
        flex-direction: column;
        gap: 30px;
    }
}

.footer__img{
    max-width: 300px;
    img{
        width: 100%;
    }
}
.footer__logo{
    h2{
        font-size: 32px;
        color: white;
        margin: 15px 0;
    }
}
.footer__icon{
    @include center-div();
    gap: 25px;
    .icon{
        font-size: 38px;
        color: #FFFFFFFF;
    }
}
.footyer__links{
    h3{
        color: white;
        font-size: 20px;
        font-weight: 700;
    }
    li{
        @include center-div();
        max-width: 400px;
        .location{
            font-size: 50px;
            color: #FFFFFF;
        }
        .gmail{
             font-size: 30px;
             color: #FFFFFF;
        }
        .phone{
            font-size: 24px;
            color: #FFFFFF;
        }
        a{
            font-size: 20px;
            font-weight: 400;
            color: #FFFFFF;
            text-align: start;
        }
    }
}

.from{
    @include center-div();
    justify-content: space-between;
    margin-top: 20px;
     .inoovation{
        font-size: 18px;
        color: #FFFFFF;
     }
     .producters{
        @include center-div();
        gap: 15px;
        .line{
            width: 2px;
            background-color: #FFFFFF;
            height: 18px;
        }
          .producter{
            font-size: 18px;
            color: #FFFFFF;
          }
     }
}

@media(max-width:1400px){
    .footer__logo{
        display: none;
    }
}

@media(max-width:1100px){
    .footer__item{
        gap: 20px;
    }
    .footyer__links{
        h3{
            font-size: 16px;
        }
        li{
            a{
                font-size: 13px;
            }
        }
    }
}


@media(max-width:1000px){
    .footyer__links{
        h3{
            font-size: 16px;
        }
        li{
            a{
                font-size: 13px;
                max-width: 300px;
            }
        }
    }
}

@media(max-width:700px){
    .footer__item{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
    .footyer__links{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 155px;
        h3{
            font-size: 25px;
        }
        li{
            a{
                font-size: 18px;
            }
        }
    }
}